In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('round3/raw/prices_round_3_day_0.csv', delimiter=';', index_col=1)
df2 = pd.read_csv('round3/raw/prices_round_3_day_1.csv', delimiter=';', index_col=1)
df2.index = df2.index + int(1e6)

In [3]:
merged = pd.concat([df, df2], axis=0)
merged

,day,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
timestamp,,,,,,,,,,,,,,,,
0,0,DIVING_GEAR,99999.0,6.0,99998.0,19.0,NaN,NaN,100001.0,6.0,100002.0,19.0,NaN,NaN,100000.0,0.0
0,0,PEARLS,9998.0,1.0,9995.0,30.0,NaN,NaN,10005.0,30.0,NaN,NaN,NaN,NaN,10001.5,0.0
0,0,COCONUTS,8113.0,205.0,NaN,NaN,NaN,NaN,8116.0,205.0,NaN,NaN,NaN,NaN,8114.5,0.0
0,0,BERRIES,3997.0,19.0,3996.0,58.0,NaN,NaN,4003.0,19.0,4005.0,58.0,NaN,NaN,4000.0,0.0
0,0,BANANAS,4893.0,1.0,4892.0,30.0,NaN,NaN,4899.0,30.0,NaN,NaN,NaN,NaN,4896.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999900,1,DIVING_GEAR,99195.0,9.0,99194.0,15.0,NaN,NaN,99197.0,9.0,99198.0,15.0,NaN,NaN,99196.0,-23760.0
1999900,1,BANANAS,4820.0,20.0,NaN,NaN,NaN,NaN,4827.0,20.0,NaN,NaN,NaN,NaN,4823.5,97704.0
1999900,1,PEARLS,9995.0,20.0,NaN,NaN,NaN,NaN,10005.0,20.0,NaN,NaN,NaN,NaN,10000.0,-224.0
1999900,1,COCONUTS,7922.0,178.0,NaN,NaN,NaN,NaN,7925.0,178.0,NaN,NaN,NaN,NaN,7923.5,20068.0
1999900,1,BERRIES,3847.0,15.0,3846.0,44.0,NaN,NaN,3854.0,15.0,3855.0,44.0,NaN,NaN,3850.5,227348.0

In [4]:
merged.drop('day', axis=1, inplace=True)

In [5]:
merged.to_csv('round3/ob_train.csv', sep=';')