In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('round2/ob_train.csv', delimiter=';', index_col=0)
df2 = pd.read_csv('round2/ob_val.csv', delimiter=';', index_col=0)

In [6]:
for product in ['PEARLS', 'BANANAS', 'COCONUTS', 'PINA_COLADAS']:
    slc = df.loc[df['product'] == product]
    slc2 = df2.loc[df2['product'] == product]
    slc['lr'] = np.log(slc['mid_price'].shift(-1) / slc['mid_price'])
    slc2['lr'] = np.log(slc2['mid_price'].shift(-1) / slc2['mid_price'])
    df.loc[df['product'] == product] = slc
    df2.loc[df2['product'] == product] = slc2

C:\Users\Lei\AppData\Local\Temp\ipykernel_5032\4216824290.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  slc['lr'] = np.log(slc['mid_price'].shift(-1) / slc['mid_price'])
C:\Users\Lei\AppData\Local\Temp\ipykernel_5032\4216824290.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  slc2['lr'] = np.log(slc2['mid_price'].shift(-1) / slc2['mid_price'])

In [7]:
df.to_csv('round2/ob_train.csv', sep=';')
df2.to_csv('round2/ob_val.csv', sep=';')

In [5]:
slc

,Unnamed: 0,timestamp,day,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss,spread,lr
1,1,0,-1,PINA_COLADAS,14999,38,14998.0,53.0,NaN,NaN,15001,38,15002.0,53.0,NaN,NaN,15000.0,0.0,2,NaN
6,6,100,-1,PINA_COLADAS,14999,31,14998.0,64.0,NaN,NaN,15001,31,15002.0,64.0,NaN,NaN,15000.0,0.0,2,0.000000
10,10,200,-1,PINA_COLADAS,14998,106,NaN,NaN,NaN,NaN,15001,106,NaN,NaN,NaN,NaN,14999.5,0.0,3,0.000033
13,13,300,-1,PINA_COLADAS,14999,35,14998.0,67.0,NaN,NaN,15001,35,15002.0,67.0,NaN,NaN,15000.0,0.0,2,-0.000033
16,16,400,-1,PINA_COLADAS,14998,38,14997.0,69.0,NaN,NaN,15000,38,15001.0,69.0,NaN,NaN,14999.0,0.0,2,0.000067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79983,79983,1999500,0,PINA_COLADAS,15004,95,NaN,NaN,NaN,NaN,15007,95,NaN,NaN,NaN,NaN,15005.5,319308.0,3,-0.000233
79987,79987,1999600,0,PINA_COLADAS,15002,107,NaN,NaN,NaN,NaN,15005,107,NaN,NaN,NaN,NaN,15003.5,325204.0,3,0.000133
79991,79991,1999700,0,PINA_COLADAS,15003,77,NaN,NaN,NaN,NaN,15006,77,NaN,NaN,NaN,NaN,15004.5,321456.0,3,-0.000067
79993,79993,1999800,0,PINA_COLADAS,15010,23,15009.0,74.0,NaN,NaN,15013,97,NaN,NaN,NaN,NaN,15011.5,301608.0,3,-0.000466
79999,79999,1999900,0,PINA_COLADAS,15011,108,NaN,NaN,NaN,NaN,15014,108,NaN,NaN,NaN,NaN,15012.5,297904.0,3,-0.000067

In [4]:
df.head()

,Unnamed: 0,timestamp,day,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss,spread,lr
0,0,0,-1,PEARLS,10002,1,9996.0,2.0,9995.0,29.0,10004,2,10005.0,29.0,NaN,NaN,10003.0,0.0,2,-0.000300
1,1,0,-1,PINA_COLADAS,14999,38,14998.0,53.0,NaN,NaN,15001,38,15002.0,53.0,NaN,NaN,15000.0,0.0,2,0.000000
2,2,0,-1,COCONUTS,7999,162,NaN,NaN,NaN,NaN,8001,55,8002.0,107.0,NaN,NaN,8000.0,0.0,2,-0.000063
3,3,0,-1,BANANAS,4951,1,4946.0,2.0,4945.0,29.0,4952,31,NaN,NaN,NaN,NaN,4951.5,0.0,1,-0.000606
4,4,100,-1,PEARLS,9996,2,9995.0,22.0,NaN,NaN,10004,2,10005.0,22.0,NaN,NaN,10000.0,4.0,8,0.000000

In [5]:
df.drop(columns=['Unnamed: 0'], inplace=True, axis=1)

In [6]:
df.head()

,timestamp,day,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss,spread,lr
0,0,-1,PEARLS,10002,1,9996.0,2.0,9995.0,29.0,10004,2,10005.0,29.0,NaN,NaN,10003.0,0.0,2,-0.000300
1,0,-1,PINA_COLADAS,14999,38,14998.0,53.0,NaN,NaN,15001,38,15002.0,53.0,NaN,NaN,15000.0,0.0,2,0.000000
2,0,-1,COCONUTS,7999,162,NaN,NaN,NaN,NaN,8001,55,8002.0,107.0,NaN,NaN,8000.0,0.0,2,-0.000063
3,0,-1,BANANAS,4951,1,4946.0,2.0,4945.0,29.0,4952,31,NaN,NaN,NaN,NaN,4951.5,0.0,1,-0.000606
4,100,-1,PEARLS,9996,2,9995.0,22.0,NaN,NaN,10004,2,10005.0,22.0,NaN,NaN,10000.0,4.0,8,0.000000

In [7]:
df.to_csv('round2/ob_train.csv', sep=';', index=False)